.container
  .row
    .col-xs-12
      =link_to 'New Board', new_board_path, class: 'btn btn-default'
.container
  .row
    .col-xs-12.col-md-6
      =render @board
    .col-xs-12.col-md-6
      %h1 New Move
      =form_for [@board, @move] do |form|
        =form.label :robot_id
        =form.text_field :robot_id
        =form.label :direction
        =form.text_field :direction
        =form.submit "Move Robot", class: "btn btn-default"
